{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}


<!-- HTML Form -->
		<div class=page style="text-align:center">
  			<h1>Choose the data to be analyzed...</h1>
  			<div class=metanav>

    			

    			<form id='input' method='post' action='/graph' role='form'>	
	  			<p style="text-align:center">
	  				<div class="container-fluid" style="height:700px">
	  				<h4>Please enter a borough:</h4>
	  				<div class="row center-block">
	  				<div class="col-xs-4 col-xs-offset-4"> <!-- has-warning has-feedback" -->
					<input type='text' name='boro' class="form-control input-lg" placeholder="borough" /> <!-- id="inputWarning" aria-describedby="inputWarning"/>
					<span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
					<span id="inputWarning" class="sr-only">(warning)</span>-->
					<span class="help-block">eg. Manhattan, Bronx, Brooklyn, Queens, or Staten Island</span>
					</div></div>
					<!--<input type="submit" value="Submit"> -->
					<br>
					<p>
					<div class="row center-block">
					Plot: 
					<div class="radio">
					  <label><input type="radio" name="plot" value='multi'>multi-line</label>
					</div>
					<div class="radio">
					  <label><input type="radio" name="plot" value='grid'>gridplots</label>
					</div>
					<div class="radio disabled">
					  <label><input type="radio" name="plot" value='pockets'>pockets</label>
					</div></div>
					</p>
					<!--
					<select name="plot">
					<option value="multi">multi-line</option>
					<option value="grid">gridplots</option>
					<option value="pockets">problematic pockets</option>
				  </select> -->
				  <br>
				  starting from:
				  <!-- <div class="form-group"> -->
					<div class="row center-block">
				  <div class="col-xs-3 col-centered">
					<label for="month">month:</label>
					<select class="form-control" name="month" id="month">
					<!-- <select name="month"> -->
					<option value="01">01</option>
					<option value="04">04</option>
					<option value="07">07</option>
					<option value="10">10</option>
				  </select></div></div>
				 
				  <div class="row center-block">
				  <div class="col-xs-3 col-centered">
					<label for="year">year: </label>
					<select class="form-control" id="year" name="year">
					<!-- <select name="year"> -->
					<option value="2017" disabled>2017</option>
					<option value="2016">2016</option>
					<option value="2015">2015</option>
					<option value="2014">2014</option>
					<option value="2013">2013</option>
					<option value="2012">2012</option>
					<option value="2011">2011</option>
				  </select></div></div>
				  <br>
				  <button type="submit" class="btn btn-default">Submit</button>
				  <!-- <input type="submit" value="Submit"> -->
				 </div>
	  			</p>
				</form>
</div>
</div>
				
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
{% endblock %}